{% extends 'base.html' %}


{% block title %}
Math
{% endblock %}

{% block body %}
<form method="POST">
        <div class="container col-3">
            <div class="row justify-content-md-center">
                    <table class="table table-striped">
                        {% for task in tasks %}
                                <tr class="
                                {% if task.msg == '+' %}
                                    table-success
                                {% elif task.msg == '-' %}
                                    table-danger
                                {% endif %}
                                ">
                                <td>
                                   {{ task.id}}
                                </td>
                                <td>
                                     {{ task.value_a | set_width }} {{ task.sign }} {{ task.value_b | set_width}} = 
                                </td>
                                <td>
                                    <input type="text" 
                                           name="answer-{{ loop.index }}" 
                                           value="{{ task.answer }}" 
                                           minlength="1" 
                                           maxlength="6"
                                           pattern="\d*"
                                           size="6"
                                           required 
                                           >
                                           
                                </td>
                                <td>
                                    {% if task.msg == '+' %}
                                        <span class="badge bg-success">верно</span>
                                    {% elif task.msg == '-' %}
                                        <span class="badge bg-danger">ошибка</span>
                                    {% endif %}
                                </td>
                                
                            </tr>
                        {% endfor %}
                        
                        <tr >
                            <td colspan="4">
                                <div class="container" align="center">
                                    <div class="btn-group" role="group" aria-label="Примеры" align="center">
                                        {% if next == True %}
                                            <button class="btn btn-primary" type="submit" disabled="True">Готово</button>
                                            <a type="button" class="btn btn-primary" href=' {{ url_for('new_task') }}'>Дальше</a>
                                        {% else %}
                                            <button class="btn btn-primary" type="submit">Готово</button>
                                            <a type="button" class="btn btn-primary" href=' {{ url_for('new_task') }}'>Новые</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    {{ total_msg }}
                </div>
        </div>
</form>
{% endblock %}
